body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
  }

  .body_div_height{
    height: 76.4vh;
  }

  .body_div_width{
    width: 99%;
  }

  .table_wrapper{
    max-height: 400px;
    overflow-y: auto;
  }

  .register-container {
    display: flex;
    justify-content: center;
  }

  .register-box {
    background: rgba(255, 255, 255, 0.1); 
    padding: 1rem;
    border-radius: 12px;
    backdrop-filter: blur(8px); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;
  }

  .register-btn-one{
    margin-left: 39%;
    width: 150px;
  }

  .register-btn-two{
    margin-left: 20%;
    width: 150px;
    margin-right: 60px;
  }

  .btn-width{
    width: 83px;
  }